<!DOCTYPE html>
<html>
  <head>
    <title>File Download Failure: <%= msg %></title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Exception raised:</h1>
    <p>Failure Message: <%= msg %></p>
    <p>File could be moved or deleted with a reason. Please contact the admin or try again later.</p> 
    <p><a href="/">Return to main</a></p>
  </body>
</html>
